.wordContainer {
  border-radius: 10px;
  border: 3px solid #094067;
  padding: 8px;
  max-height: fit-content;

  height: 100%;
}

.nameBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconBox {
  padding: 2px;
  border: 2px solid #094067;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  transition: 0.2s;
}

.iconBox:hover {
  scale: 0.9;
}

.wordName {
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 30px;
}

.wordDisc {
  font-weight: bold;
  margin-top: 15px;
  font-size: 15px;
  height: 80px;
  overflow-y: auto;
  scrollbar-color: #fffffe #094067;
  overflow-wrap: anywhere;
}
