.wordContainer {
  border-radius: 10px;
  background-color: #094067;
  color: #fffffe;
  padding: 8px;
  max-height: fit-content;

  height: 100%;
}

.nameBox {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > :nth-child(2) {
    margin-left: auto;
    transition: 0.2s;
  }

  & > :nth-child(2):hover {
    scale: 0.9;
  }
}
.wordName {
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 30px;
}

.wordDisc {
  color: #d8eefe;
  font-weight: bold;
  margin-top: 15px;
  font-size: 15px;
  height: 80px;
  overflow-y: auto;
  scrollbar-color: #fffffe #094067;
  overflow-wrap: anywhere;
}
