.message {
  position: absolute;
  color: #5f6c7b;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding: 8px;
  width: 90%;
  height: 50%;
  margin: 0 auto;
  border: 3px solid #094067;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardBox {
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: 140px;
  overflow-y: auto;
  width: 100%;

  position: relative;
  height: 100%;
}

@media (min-width: 600px) {
  .cardBox {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  .cardBox {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
